In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
test_y = pd.read_csv('gender_submission.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
X_train = train.iloc[:, [2, 4, 5]]
X_train['Sex'] = X_train['Sex'].replace(['male', 'female'], [0, 1])
X_train

<ipython-input-3-ecf4166e7b83>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Sex'] = X_train['Sex'].replace(['male', 'female'], [0, 1])

     Pclass  Sex   Age
0         3    0  22.0
1         1    1  38.0
2         3    1  26.0
3         1    1  35.0
4         3    0  35.0
..      ...  ...   ...
886       2    0  27.0
887       1    1  19.0
888       3    1   NaN
889       1    0  26.0
890       3    0  32.0

[891 rows x 3 columns]

In [4]:
y_train = train.iloc[:, 1]
X_test = test.iloc[:, [1, 3, 4]]
X_test['Sex'] = X_test['Sex'].replace(['male', 'female'], [0, 1])

<ipython-input-4-d6e0a27e2261>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Sex'] = X_test['Sex'].replace(['male', 'female'], [0, 1])

In [5]:
arr = np.array([np.where(X_train['Pclass'] == 1, 1, 0)])
arr.shape = -1, 1
X_train.insert(0, '1', arr)

In [6]:
arr = np.array([np.where(X_train['Pclass'] == 2, 1, 0)])
arr.shape = -1, 1
X_train.insert(0, '2', arr)

In [7]:
arr = np.array([np.where(X_train['Pclass'] == 3, 1, 0)])
arr.shape = -1, 1
X_train.insert(0, '3', arr)

In [8]:
X_train = X_train.drop(['Pclass'], axis=1)

In [9]:
meanAge = X_train['Age'].mean()
X_train['Age'] = X_train['Age'].replace(np.NaN, 29.69)

In [10]:
lr = LogisticRegression(C=1000, random_state=0)
lr.fit(X_train, y_train)

LogisticRegression(C=1000, random_state=0)

In [11]:
y_test = test_y['Survived']

In [12]:
arr = np.array([np.where(X_test['Pclass'] == 1, 1, 0)])
arr.shape = -1, 1
X_test.insert(0, '1', arr)

In [13]:
arr = np.array([np.where(X_test['Pclass'] == 2, 1, 0)])
arr.shape = -1, 1
X_test.insert(0, '2', arr)

In [14]:
arr = np.array([np.where(X_test['Pclass'] == 3, 1, 0)])
arr.shape = -1, 1
X_test.insert(0, '3', arr)

In [16]:
X_test['Age'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0      34.5
1      47.0
2      62.0
3      27.0
4      22.0
       ...
413     NaN
414    39.0
415    38.5
416     NaN
417     NaN
Name: Age, Length: 418, dtype: float64>

In [17]:
X_test['Age'] = X_test['Age'].replace(np.NaN, 34.5)

<ipython-input-17-99ec0f069871>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Age'] = X_test['Age'].replace(np.NaN, 34.5)

In [18]:
X_test = X_test.drop(['Pclass'], axis=1)

In [19]:
from sklearn.metrics import accuracy_score
y_pred = lr.predict(X_test)
print('Верность: %.2f' % accuracy_score(y_test, y_pred))

Верность: 0.96