In [80]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [81]:
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [82]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [83]:
glucose_mean = df['Glucose'].mean()
BloodPlessure_mean = df['BloodPressure'].mean()
insulin_mean = df['Insulin'].mean()
BMI_mean = df['BMI'].mean()

In [84]:
df['Glucose'] = df['Glucose'].replace(0, glucose_mean)
df['BloodPressure'] = df['BloodPressure'].replace(0, BloodPlessure_mean)
df['Insulin'] = df['Insulin'].replace(0, insulin_mean)
df['BMI'] = df['BMI'].replace(0, BMI_mean)

In [85]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.681605,72.254807,20.536458,118.660163,32.450805,0.471876,33.240885,0.348958
std,3.369578,30.436016,12.115932,15.952218,93.080358,6.875374,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,0.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,0.000000,79.799479,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,79.799479,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [86]:
df['Insulin'] = np.where(df['Insulin'] > 400, insulin_mean, df['Insulin'])

In [87]:
X = df[['Glucose', 'BloodPressure', 'Insulin', 'BMI', 'Age', 'DiabetesPedigreeFunction']]
y = df['Outcome']

In [88]:
X_train, X_test, y_train, y_test = train_test_split(
                                    X, y, test_size=0.3, random_state=0)

In [89]:
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_train)

In [90]:
lr = LogisticRegression(C=1000, random_state=0)
lr.fit(X_train_std, y_train)
lr.predict_proba(X_test_std)

array([[0.41433919, 0.58566081],
       [0.97662966, 0.02337034],
       [0.66473836, 0.33526164],
       ...,
       [0.959599  , 0.040401  ],
       [0.92413202, 0.07586798],
       [0.28241922, 0.71758078]])

In [91]:
y_pred = lr.predict(X_test_std)

In [95]:
i = 0
count = 0
for x, x1 in zip(y_pred, y_test):
    if x == x1:
        count += 1
        
# accuracy_score(y_test, y_pred)

In [93]:
print(count / len(y_test))

0.6277056277056277

In [94]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_pred, y_test)

0.7619047619047619